NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

TOKENGATE_APP_URL=http://localhost:3000
TOKENGATE_API_URL=http://localhost:3000

